
@{
    ViewData["Title"] = "DisplayWishlist";
}



<h1 class="display-1" style="text-align: center">Wish List</h1>

@model List<Result>

@for (int i = 0; i < Model.Count; i++)
{
    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Metacritic Score
            </th>
            <th>
                Places to Purchase
            </th>
            <th>
                Background Image
            </th>
        </tr>
        <tr class="thread-dark">

            <td>
                <a href="../Game/GameDetails?id=@Model[i].id" method="post">@Model[i].name<br /></a>
            </td>

            <td>
                @if (Model[i].metacritic == null)
                {
                    <a>Not availabile</a>
                }
                else
                {
                    @Model[i].metacritic
                }
                <br />
            </td>
            <td>
                @foreach (var store in Model[i].stores)
                {
                    <p>@store.store.name</p>
                }
                <p><a href="https://www.amazon.com/s?k=@Model[i].name">Amazon</a></p>
            </td>

            <td>
                <img src="@Model[i].background_image" style="width:200px;height:200px" /><br />
            </td>

            <td>
                <form action="../Game/DeleteWishlist?id=@Model[i].id" method="post">
                    <input type="submit" class="btn-danger" value="Remove From Wishlist" />
                </form>
            </td>
        </tr>
    </table>
}