
@{
    ViewData["Title"] = "Game Recommendations";
}

<h1 class="display-1">Game Recommendations</h1>

@model List<Result>



@for (int i = 0; i < 30; i++)
{
    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Metacritic Score
            </th>
            <th>
                Background Image
            </th>
            <th>
                Recommendation Score
            </th>
            <th></th>

        </tr>
        <tr class="thread-dark">

            <td> <a href="../Game/GameDetails?id=@Model[i].id" method="post">@Model[i].name<br /></a></td>

            <td>
                @if (Model[i].metacritic == null)
                {
                    <a>Not availabile</a>
                }
                else
                {
                    @Model[i].metacritic
                }
                <br />
            </td>

            <td><img src="@Model[i].background_image" style="width:200px;height:200px" /><br /></td>

            <td>
                @Model[i].recommendationScore
            </td>

            <td>
                <form action="../Game/AddToWishlist?id=@Model[i].id" method="post">
                    <input type="submit" class="btn-primary" value="Add to Wishlist" />
                </form>
            </td>
            <td>
                    <form action="../Game/AddToFavorites?id=@Model[i].id" method="post">
                        <input type="submit" class="btn-success" value="Add to Favorites" />

                    </form>
            </td>

        </tr>


    </table>
}
