
@{
    ViewData["Title"] = "Index";
}

<h1>Search Games</h1>

@model Game

<form action="../Game/SearchGameByName" method="post">
    <input type="text" name="searchName" required placeholder="Search for Games..." />
    <input type="submit" value="Search" />
</form>