
@{
    ViewData["Title"] = "Search Game";
}

<style>

    * {
        box-sizing: border-box;
    }

    form.search input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.search button {
        float: left;
        width: 20%;
        padding: 5px;
        background-color:#ddd;
        color: black;
        font-size: 24px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.search button:hover {
        color: white;
        background-color: darkorange;
    }

    form.search::after {
        content: "";
        clear: both;
        display: table;
    }

</style>

@section head{
    <style type="text/css">
        body {
            background-image: linear-gradient(to bottom, rgba(105, 105, 105, 0.80), rgba(0, 0, 0, 1)), url('/images/wallpaper.jpg');
            margin: 0;
        }
    </style>
}

<h2 class="display-3" style="text-align:center">Game Search</h2>

@model Game



<form class="search" action="../Game/SearchGameByName" method="post">
    <input type="text" placeholder="Search for Games..." name="searchName" required>
    <button style="height:47px;" type="submit">Search</button>
</form>