
@model List<Result>








@foreach(Result r in Model)
{
    <p>@r.metacritic</p>
    <p>@r.name</p>
    <p>@r.tags</p>
    <br />
    <img src="@r.background_image" width="25%" height="25%" alt="Alternate Text" />
}