
@{
    ViewData["Title"] = "Search Game";
}

<h1 class="display-1">Search Game</h1>

@model Game

<form action="../Game/SearchGameByName" method="post" style="color:black">
    <input type="text" name="searchName" required placeholder="Search for Games..." />
    <input type="submit" value="Search" />
</form>