
@model SearchResult


<h2 style="text-align: center">@ViewBag.Header</h2><br />

@for (int i = 0; i < Model.results.Length; i++)
{


    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Metacritic Score
            </th>
            <th style="width:300px;">
                Background Image
            </th>
        </tr>
        <tr class="thread-dark">
            <td> <a href="../Game/GameDetails?id=@Model.results[i].id" method="post">@Model.results[i].name<br /></a></td>
           
            
            <td>
                @if (Model.results[i].metacritic == null)
                {
                    <p>Not Available</p>
                }
                else
                {
                    @Model.results[i].metacritic
                }<br />
            </td>
            <td><img src="@Model.results[i].background_image" style="width:300px;height:300px" /><br /></td>

            <td>
                @if (!Model.results[i].isfavorite)
                {
                    <form action="../Game/AddToFavorites?id=@Model.results[i].id" method="post">
                        <input type="submit" class="btn-success" value="Add to Favorites" />

                    </form>
                }
                else
                {
                    <p>This game is already a favorite!<br /> checkout one of our recommendations!</p>
                }
            </td>
        </tr>
</table>
}
