
@{
    ViewData["Title"] = "Search Game";
}


<h2 class="display-3" >Game Search</h2>

@model Game

<form action="../Game/SearchGameByName" method="post" style="color:black">
    <input type="text" name="searchName" required placeholder="Search for Games..." />
    <input type="submit" value="Search" />
</form>