
@{
    ViewData["Title"] = "Search Game";
}

@section head{
    <style type="text/css">
        body {
            background-image: linear-gradient(to bottom, rgba(105, 105, 105, 0.80), rgba(0, 0, 0, 1)), url('/images/wallpaper.jpg');
            margin: 0;
        }
    </style>
}

<h2 class="display-3">Game Search</h2>

@model Game

<form action="../Game/SearchGameByName" method="post" style="color:black">
    <input type="text" name="searchName" required placeholder="Search for Games..." />
    <input type="submit" value="Search" />
</form>