@{
    ViewData["Title"] = "Game Recommendation Station";
}

<div class="text-center">
    <h1 class="display-4">Now Arriving at the Game Recommendation Station</h1>
    <iframe src="https://giphy.com/embed/1BH7Xygg3hgWxm71HG" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/3oz8xtBx06mcZWoNJm" width="480" height="362" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://data.whicdn.com/images/305773352/original.gif" width="520" height="362" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

</div>
