@{
    ViewData["Title"] = "Game Recommendation Station";
}

@section head{
<style type="text/css">
    body {
        background-image: linear-gradient(to bottom, rgba(105, 105, 105, 0.80), rgba(20, 20, 20, 1), rgba(0, 0, 0, 1)), url('/images/wallpaper.jpg');
        margin: 0;
    }
</style>
}

        <div class="text-center">

            <h2 class="display-1" style="color: white;">The Game Recommendation Station</h2>
            <p>Welcome to the Game Recommendation Station! The place where both the avid gamer and the barely interested novice can find new games based on their tastes.<br /></p>
            <p>We're here to take your taste, your input, and guide you towards the best games for you.</p>
            <p>With our questionnaire we take what genres and tags interest you and give you recommendations,<br /> a feature that is especially useful for the gaming novice who's unsure where to start.</p>
            <p>We also offer a traditional search feature as well where the user puts in the name of game and we give them every game related to said query.</p><br />
            <p>Once the user has found a game they're interested in they can dig into all the details about said game; the developer of the game, the metacritic score, where to buy the game and if available, a clip of in game footage!</p><br />
            <p>The world is more cutoff than ever due to the global pandemic and with that in mind we added a feature where once a user finds games they love and add to their favorite list, they're able to see if other users also favorite said game.<br /></p>
            <p>Which is just a little way to make the world feel a little smaller and for us to feel a bit less alone.</p>
            <p>In essence, we at the Game Recommendation Station are here to make gaming more approachable, and more accessible for all!</p><br />
            <p>Have fun!</p>
            <p>--creators Justin Locke, Joseph Cellini, and Sean Kelly</p>

            <form action="../Game/SearchGames" method="post">
                <input type="submit" value="Search For Games" />
            </form><br />
            <form action="../Game/Questionnaire" method="post">
                <input type="submit" value="Take The Questionnaire" />
            </form><br />

    <iframe src="https://data.whicdn.com/images/305773352/original.gif" width="520" height="262" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><br />
    
        </div>
