@{
    ViewData["Title"] = "Game Recommendation Station";
}

<div class="text-center">
    <h1 class="display-4">Now Arriving at<br /> the Game Recommendation Station</h1><br />
    <iframe src="https://data.whicdn.com/images/305773352/original.gif" width="520" height="262" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><br />
    <iframe src="https://giphy.com/embed/1BH7Xygg3hgWxm71HG" width="520" height="362" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <iframe src="https://giphy.com/embed/3oz8xtBx06mcZWoNJm" width="520" height="362" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>


</div>
